<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ese Mountain</title>
    <link rel="stylesheet" href="../../output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<body>
    <!-- header -->
    <div class="container">
        <div class="bg-pink-300 w-[90%] h-[70px] m-auto flex">
            <div class="logo  w-[236px] h-[100%] flex justify-center items-center ms-[50px]">
                <div class="imags_logo w-[100%] h-[50%]  flex justify-center items-center">
                    <img src="https://placehold.jp/235x57.png" alt="image">
                </div>
            </div>
            <nav class="nav  w-[50%] h-[100%] flex justify-center items-center ">
                <ul class="flex items-center justify-center gap-10 font-bold uppercase">
                    <li><a href="./Honepage.html" class="transition hover:text-blue-500">Home</a></li>
                    <li><a href="./Destination.html" class="transition hover:text-blue-500 ">Destination</a></li>
                    <li><a href="./Activities.html" class="transition hover:text-blue-500 ">Activities</a></li>
                    <li><a href="./TripPlan.html" class="transition hover:text-blue-500 ">Trip Plan</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Slide  3 or 4 slide-->
    <div class="container w-[90%] h-[600px] m-auto mt-10 bg-orange-500 rounded-[10px] relative overflow-hidden">
        <img id="slide" src="" alt="Slide"
            class="w-full h-full object-cover rounded-[10px] opacity-0 transition-opacity duration-700">
    </div>

    <!-- PLAN YOUR TRIP WITH SEA AREA -->
    <div class="w-[90%] h-[200px] m-auto mt-10">
        <h1 class="text-2xl font-bold">PLAN YOUR TRIP WITH SEA AREA</h1>
        <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil architecto magnam facilis amet
            quaerat
            voluptatem molestias quibusdam enim saepe inventore, consectetur harum accusamus aliquid sed voluptate culpa
            sequi beatae dicta debitis! Voluptate quisquam aut doloremque laudantium nesciunt vel consectetur optio
            aliquid quas veniam ab ad labore, consequatur nobis voluptates laborum voluptatum! Odit illum porro dolor
            numquam, sapiente cupiditate quasi, nesciunt fuga quisquam nulla praesentium impedit iusto aperiam. Neque
            repudiandae, voluptas at repellendus ratione animi ab nobis porro voluptatibus reprehenderit deleniti modi,
            est inventore suscipit deserunt! Sequi, dolorum eos. Voluptates, sunt aut nihil tempore illum similique
            molestias harum. Vitae, quod illum!</p>
    </div>
    
    <!-- location Destination  eat  stay -->
    <div class="w-[90%] h-[46px] m-auto flex items-center">
        <div class="w-[718px] h-full flex items-center gap-4 px-4">
            <button class="px-4 py-1 font-semibold text-pink-600 transition bg-[#b3b1da] rounded hover:bg-pink-100">
                Traveler Choice
            </button>
            <button class="px-4 py-1 font-semibold text-pink-600 transition rounded hover:bg-pink-100 bg-[#b3b1da]">
                Destinations
            </button>
            <button class="px-4 py-1 font-semibold text-pink-600 transition bg-[#b3b1da] rounded hover:bg-pink-100">
                Where to Stay
            </button>
            <button class="px-4 py-1 font-semibold text-pink-600 transition bg-[#b3b1da] rounded hover:bg-pink-100">
                Where to Eat
            </button>
        </div>
    </div>

    <!-- Mountain Top Where To Eat -->
    <div class="w-[90%] h-[548px] m-auto mt-14">
        <h1 class="w-full text-black h-[10%] text-3xl font-bold">Mountain Top Where To Eat</h1>
        <div class="w-full h-[90%] flex justify-center items-center gap-10">

            <!-- box 1 -->
            <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
            </div>

            <!-- box 2 -->
            <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
            </div>

            <!-- box 3 -->
            <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
            </div>

            <!-- box 4 -->
            <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mountain All Where To Eat -->
    <div class="w-[90%] h-[980px] m-auto mt-14">
        <h1 class="w-full text-black h-[10%] text-3xl font-bold">Mountain All Where To Eat</h1>
        <div class="w-full h-full">

            <div class="w-full h-[50%] flex justify-center items-center gap-10">
                <!-- box 1 -->
                <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                    <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                        <div class="w-full h-full rounded-[10px] p-3">
                            <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                        </div>
                    </div>
                    <div class="w-[100%] h-[160px] rounded-b-[10px]">
                        <div class="w-[90%] h-[95%] m-auto ">
                            <div class="w-[100%] h-[35px] ">
                                <h3 class="text-[20px] font-bold">Name location</h3>
                            </div>
                            <div class="w-full h-[70px] ">
                                <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et
                                    quasi
                                    accusantium hic perspiciatis! Beatae, incidunt.</p>
                            </div>
                            <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                        </div>
                    </div>
                </div>

                <!-- box 2 -->
                <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                    <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                        <div class="w-full h-full rounded-[10px] p-3">
                            <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                        </div>
                    </div>
                    <div class="w-[100%] h-[160px] rounded-b-[10px]">
                        <div class="w-[90%] h-[95%] m-auto ">
                            <div class="w-[100%] h-[35px] ">
                                <h3 class="text-[20px] font-bold">Name location</h3>
                            </div>
                            <div class="w-full h-[70px] ">
                                <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et
                                    quasi
                                    accusantium hic perspiciatis! Beatae, incidunt.</p>
                            </div>
                            <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                        </div>
                    </div>
                </div>

                <!-- box 3 -->
                <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                    <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                        <div class="w-full h-full rounded-[10px] p-3">
                            <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                        </div>
                    </div>
                    <div class="w-[100%] h-[160px] rounded-b-[10px]">
                        <div class="w-[90%] h-[95%] m-auto ">
                            <div class="w-[100%] h-[35px] ">
                                <h3 class="text-[20px] font-bold">Name location</h3>
                            </div>
                            <div class="w-full h-[70px] ">
                                <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et
                                    quasi
                                    accusantium hic perspiciatis! Beatae, incidunt.</p>
                            </div>
                            <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                        </div>
                    </div>
                </div>

                <!-- box 4 -->
                <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                    <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                        <div class="w-full h-full rounded-[10px] p-3">
                            <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                        </div>
                    </div>
                    <div class="w-[100%] h-[160px] rounded-b-[10px]">
                        <div class="w-[90%] h-[95%] m-auto ">
                            <div class="w-[100%] h-[35px] ">
                                <h3 class="text-[20px] font-bold">Name location</h3>
                            </div>
                            <div class="w-full h-[70px] ">
                                <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et
                                    quasi
                                    accusantium hic perspiciatis! Beatae, incidunt.</p>
                            </div>
                            <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full h-[50%] flex justify-center items-center gap-10 mt-5">
                <!-- box 1 -->
                <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                    <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                        <div class="w-full h-full rounded-[10px] p-3">
                            <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                        </div>
                    </div>
                    <div class="w-[100%] h-[160px] rounded-b-[10px]">
                        <div class="w-[90%] h-[95%] m-auto ">
                            <div class="w-[100%] h-[35px] ">
                                <h3 class="text-[20px] font-bold">Name location</h3>
                            </div>
                            <div class="w-full h-[70px] ">
                                <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et
                                    quasi
                                    accusantium hic perspiciatis! Beatae, incidunt.</p>
                            </div>
                            <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                        </div>
                    </div>
                </div>

                <!-- box 2 -->
                <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                    <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                        <div class="w-full h-full rounded-[10px] p-3">
                            <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                        </div>
                    </div>
                    <div class="w-[100%] h-[160px] rounded-b-[10px]">
                        <div class="w-[90%] h-[95%] m-auto ">
                            <div class="w-[100%] h-[35px] ">
                                <h3 class="text-[20px] font-bold">Name location</h3>
                            </div>
                            <div class="w-full h-[70px] ">
                                <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et
                                    quasi
                                    accusantium hic perspiciatis! Beatae, incidunt.</p>
                            </div>
                            <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                        </div>
                    </div>
                </div>

                <!-- box 3 -->
                <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                    <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                        <div class="w-full h-full rounded-[10px] p-3">
                            <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                        </div>
                    </div>
                    <div class="w-[100%] h-[160px] rounded-b-[10px]">
                        <div class="w-[90%] h-[95%] m-auto ">
                            <div class="w-[100%] h-[35px] ">
                                <h3 class="text-[20px] font-bold">Name location</h3>
                            </div>
                            <div class="w-full h-[70px] ">
                                <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et
                                    quasi
                                    accusantium hic perspiciatis! Beatae, incidunt.</p>
                            </div>
                            <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                        </div>
                    </div>
                </div>

                <!-- box 4 -->
                <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                    <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                        <div class="w-full h-full rounded-[10px] p-3">
                            <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                        </div>
                    </div>
                    <div class="w-[100%] h-[160px] rounded-b-[10px]">
                        <div class="w-[90%] h-[95%] m-auto ">
                            <div class="w-[100%] h-[35px] ">
                                <h3 class="text-[20px] font-bold">Name location</h3>
                            </div>
                            <div class="w-full h-[70px] ">
                                <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et
                                    quasi
                                    accusantium hic perspiciatis! Beatae, incidunt.</p>
                            </div>
                            <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- footer -->
    <div class="w-full h-[537px] bg-[#090021] mt-36">
        <div class="w-[90%] h-full m-auto flex ">
            <div class="w-[33.3%] h-full p-5">
                <!-- logo footer -->
                <div class="w-full h-[10%] mt-5">
                    <img src="https://placehold.jp/235x57.png" alt="image">
                </div>
                <p class="mt-3 text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, eos vitae
                    cumque
                    sequi necessitatibus deleniti
                    nisi ducimus veniam non, ut odio. Ex quod, fugit debitis rerum animi consectetur exercitationem
                    mollitia,
                    praesentium voluptatem illum id optio! Officia quidem cum eligendi doloribus impedit nobis voluptas
                    optio,
                    nihil similique ducimus, nemo, quibusdam eius.</p>
            </div>
            <div class="w-[33.3%] h-full p-5">
                <div class="w-full h-[10%] mt-5 flex justify-start items-center">
                    <h3 class="font-bold text-white">Contact Us</h3>
                </div>
                <div class="w-full h-[30px] flex">
                    <i class="text-xl text-white tmt-2 fa-regular fa-envelope"></i>
                    <p class="mt-1 text-white ms-4">info@yourcompany.com</p>
                </div>
                <div class="w-full h-[30px] flex">
                    <i class="mt-2 text-xl text-white fa-solid fa-phone"></i>
                    <p class="mt-1 text-white ms-4">+(855) 456-7890</p>
                </div>
                <div class="w-full h-[250px] flex rounded-[10px] mt-5">
                    <iframe class="object-cover w-full h-full rounded-[10px]"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1991562.9708896878!2d104.63834878032793!3d12.858034547092315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2skh!4v1747901816677!5m2!1sen!2skh"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="w-[33.3%] h-full p-5 ms-5">
                <div class="w-full h-[10%] mt-5 flex justify-start items-center">
                    <h3 class="font-bold text-white">Contact Us</h3>
                </div>
                <div class="w-full h-[300px] ">
                    <ul class="text-white">
                        <li><a href="">Home</a></li>
                        <li><a href="">Destination</a></li>
                        <li><a href="">Activities</a></li>
                        <li><a href="">Trip plan</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="../../js/index.js"></script>
</body>

</html>