<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Page</title>
    <link rel="stylesheet" href="../output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
</head>

<body>
    <!-- header -->
    <div class="container">
        <div class="bg-pink-300 w-[90%] h-[70px] m-auto flex">
            <div class="logo  w-[236px] h-[100%] flex justify-center items-center ms-[50px]">
                <div class="imags_logo w-[100%] h-[50%]  flex justify-center items-center">
                    <img src="https://fakeimg.pl/236x57" alt="image">
                </div>
            </div>
            <nav class="nav  w-[50%] h-[100%] flex justify-center items-center ">
                <ul class="flex items-center justify-center gap-10 font-bold uppercase">
                    <li><a href="./Honepage.html" class="transition hover:text-blue-500">Home</a></li>
                    <li><a href="./Destination.html" class="transition hover:text-blue-500 ">Destination</a></li>
                    <li><a href="./Activities.html" class="transition hover:text-blue-500 ">Activities</a></li>
                    <li><a href="./TripPlan.html" class="transition hover:text-blue-500 ">Trip Plan</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Location province trip -->
    <div class="w-[90%] m-auto mt-14 p-4 space-y-4">
        <h1 class="text-3xl font-bold text-black">Location Province</h1>

        <div class="flex items-center rounded b-orange-400 p-">
            <i class="text-lg text-black fa-solid fa-location-dot"></i>
            <h3 class="text-black ms-2">province, Cambodia</h3>
        </div>
    </div>
    <!-- Swiper Section -->
    <div class="w-[90%] h-[583px] m-auto rounded-[10px] flex gap-3">
        <!-- Left Image Section -->
        <div class="w-[50%] h-full rounded-tl-[10px] rounded-bl-[10px] overflow-hidden">
            <img src="https://placehold.jp/664x583.png" alt="" class="object-cover w-full h-full">
        </div>

        <!-- Right Content Section -->
        <div class="w-[50%] h-full  rounded-tr-[10px] rounded-br-[10px] flex flex-col gap-3">
            <!-- Top Half -->
            <div class="w-full h-1/2  rounded-tr-[10px] flex gap-3 overflow-hidden">
                <div class="w-1/2 h-full overflow-hidden">
                    <img src="https://placehold.jp/312x280.png" alt="" class="object-cover w-full h-full">
                </div>
                <div class="w-1/2 h-full overflow-hidden">
                    <img src="https://placehold.jp/312x280.png" alt=""
                        class="object-cover w-full h-full rounded-tr-[10px]">
                </div>
            </div>

            <!-- Bottom Half -->
            <div class="w-full h-1/2  rounded-br-[10px] flex gap-3 overflow-hidden">
                <div class="w-1/2 h-full overflow-hidden">
                    <img src="https://placehold.jp/312x280.png" alt="" class="object-cover w-full h-full">
                </div>
                <div class="w-1/2 h-full overflow-hidden">
                    <img src="https://placehold.jp/312x280.png" alt=""
                        class="object-cover w-full h-full rounded-br-[10px]">
                </div>
            </div>
        </div>
    </div>

    <!-- Provinces Trip -->
    <div class="w-[90%] h-[50px] m-auto mt-10 flex justify-center items-center">
        <h1 class="text-3xl font-bold text-blck" style="font-size: 50px;">Province</h1>
    </div>

    <!-- review location trip -->
    <div class="w-[90%] h-[500px] m-auto flex mt-5 gap-10">
        <div class="w-[50%] h-full rounded-[10px]">
            <img src="https://placehold.jp/500x500.png" alt="" class="w-full h-full object-cover rounded-[10px]">
        </div>
        <div class="w-[50%] h-full rounded-[10px] p-4">
            <h2 class="mb-4 text-3xl font-bold ">name location</h2>
            <p class="mb-4 text-black">After breakfast our driver will bring the group to the South Gate of Angkor Thom.
                It is the most beautiful and best preserved of the five entrances to Angkor Thom, the biggest complex of
                the Angkor Archaeological Park. The royal city Angkor Thom was built in the late 12th to early 13th
                century.
            </p>
        </div>
    </div>
    
     <!-- review location trip -->
    <div class="w-[90%] h-[500px] m-auto flex mt-5 gap-10">
        <div class="w-[50%] h-full rounded-[10px] p-4">
            <h2 class="mb-4 text-3xl font-bold ">name location</h2>
            <p class="mb-4 text-black">After breakfast our driver will bring the group to the South Gate of Angkor Thom.
                It is the most beautiful and best preserved of the five entrances to Angkor Thom, the biggest complex of
                the Angkor Archaeological Park. The royal city Angkor Thom was built in the late 12th to early 13th
                century.
            </p>
        </div>
         <div class="w-[50%] h-full rounded-[10px]">
            <img src="https://placehold.jp/500x500.png" alt="" class="w-full h-full object-cover rounded-[10px]">
        </div>
    </div>
    
     <!-- review location trip -->
    <div class="w-[90%] h-[500px] m-auto flex mt-5 gap-10">
        <div class="w-[50%] h-full rounded-[10px]">
            <img src="https://placehold.jp/500x500.png" alt="" class="w-full h-full object-cover rounded-[10px]">
        </div>
        <div class="w-[50%] h-full rounded-[10px] p-4">
            <h2 class="mb-4 text-3xl font-bold ">name location</h2>
            <p class="mb-4 text-black">After breakfast our driver will bring the group to the South Gate of Angkor Thom.
                It is the most beautiful and best preserved of the five entrances to Angkor Thom, the biggest complex of
                the Angkor Archaeological Park. The royal city Angkor Thom was built in the late 12th to early 13th
                century.
            </p>
        </div>
    </div>
    
     <!-- review location trip -->
    <div class="w-[90%] h-[500px] m-auto flex mt-5 gap-10">
        <div class="w-[50%] h-full rounded-[10px] p-4">
            <h2 class="mb-4 text-3xl font-bold ">name location</h2>
            <p class="mb-4 text-black">After breakfast our driver will bring the group to the South Gate of Angkor Thom.
                It is the most beautiful and best preserved of the five entrances to Angkor Thom, the biggest complex of
                the Angkor Archaeological Park. The royal city Angkor Thom was built in the late 12th to early 13th
                century.
            </p>
        </div>
         <div class="w-[50%] h-full rounded-[10px]">
            <img src="https://placehold.jp/500x500.png" alt="" class="w-full h-full object-cover rounded-[10px]">
        </div>
    </div>
    
    <!-- footer -->
    <div class="w-full h-[537px] bg-[#090021] mt-12">
        <div class="w-[90%] h-full m-auto flex ">
            <div class="w-[33.3%] h-full p-5">
                <!-- logo footer -->
                <div class="w-full h-[10%] mt-5">
                    <img src="" alt="image">
                </div>
                <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, eos vitae cumque sequi necessitatibus deleniti
                     nisi ducimus veniam non, ut odio. Ex quod, fugit debitis rerum animi consectetur exercitationem mollitia,
                      praesentium voluptatem illum id optio! Officia quidem cum eligendi doloribus impedit nobis voluptas optio,
                      nihil similique ducimus, nemo, quibusdam eius.</p>
            </div>
            <div class="w-[33.3%] h-full p-5">
                <div class="w-full h-[10%] mt-5 flex justify-start items-center"> 
                    <h3 class="font-bold text-white">Contact Us</h3>
                </div>
                <div class="w-full h-[30px] flex">
                    <i class="text-xl text-white tmt-2 fa-regular fa-envelope"></i>
                    <p class="mt-1 text-white ms-4">info@yourcompany.com</p>
                </div>
                <div class="w-full h-[30px] flex">
                    <i class="mt-2 text-xl text-white fa-solid fa-phone"></i>
                    <p class="mt-1 text-white ms-4">+(855) 456-7890</p>
                </div>
                <div class="w-full h-[250px] flex rounded-[10px] mt-5">
                    <iframe class="object-cover w-full h-full rounded-[10px]" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1991562.9708896878!2d104.63834878032793!3d12.858034547092315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2skh!4v1747901816677!5m2!1sen!2skh" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="w-[33.3%] h-full p-5 ms-5">
                  <div class="w-full h-[10%] mt-5 flex justify-start items-center"> 
                    <h3 class="font-bold text-white">Contact Us</h3>
                </div>
                 <div class="w-full h-[300px] ">
                    <ul class="text-white">
                        <li><a href="">Home</a></li>
                        <li><a href="">Destination</a></li>
                        <li><a href="">Activities</a></li>
                        <li><a href="">Trip plan</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    <script src="../js/index.js"></script>
</body>

</html>