<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- header -->
    <div class="container">
        <div class="bg-pink-300 w-[90%] h-[70px] m-auto flex">
            <div class="logo  w-[236px] h-[100%] flex justify-center items-center ms-[50px]">
                <div class="imags_logo w-[100%] h-[50%]  flex justify-center items-center">
                    <img src="https://placehold.jp/235x57.png" alt="image">
                </div>
            </div>
            <nav class="nav  w-[50%] h-[100%] flex justify-center items-center ">
                <ul class="flex items-center justify-center gap-10 font-bold uppercase">
                    <li><a href="./Honepage.html" class="transition hover:text-blue-500">Home</a></li>
                    <li><a href="./Destination.html" class="transition hover:text-blue-500 ">Destination</a></li>
                    <li><a href="./Activities.html" class="transition hover:text-blue-500 ">Activities</a></li>
                    <li><a href="./TripPlan.html" class="transition hover:text-blue-500 ">Trip Plan</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- Slide  3 or 4 slide-->
    <div class="container w-[90%] h-[600px] m-auto mt-10 bg-orange-500 rounded-[10px] relative overflow-hidden">
        <img id="slide" src="" alt="Slide" class="w-full h-full object-cover rounded-[10px] opacity-0 transition-opacity duration-700">
    </div>

    <!-- Our Destination Type -->
    <div class="container w-[90%] h-[200px] bg-white m-auto mt-3 shadow-[0px_4px_6px_0px_rgba(0,_0,_0,_0.1)]">
        <h1 class="w-full text-center text-black h-[20%] text-3xl font-bold ">Our Destination Type</h1>
        <div class="w-full h-[80%] flex justify-center items-center gap-5">
            <!-- Sea -->
            <div class="w-[142px] h-[142px] bg-pink-500 rounded-[10px] flex justify-center items-center">
                <div class="w-[70%] h-[70%]">
                    <div
                        class="w-[75%] h-[75%] bg-pink-600 center flex justify-center items-center rounded-[50px] m-auto">
                        <img src="https://placehold.jp/89x89.png" alt="image" class="w-full h-full rounded-[50px]">
                    </div>
                    <h2 class="text-center">Name</h2>
                </div>
            </div>
            <!-- History -->
            <div class="w-[142px] h-[142px] bg-pink-500 rounded-[10px] flex justify-center items-center">
                <div class="w-[70%] h-[70%]">
                    <div
                        class="w-[75%] h-[75%] bg-pink-600 center flex justify-center items-center rounded-[50px] m-auto">
                        <img src="https://placehold.jp/89x89.png" alt="image" class="w-full h-full rounded-[50px]">
                    </div>
                    <h2 class="text-center">Name</h2>
                </div>
            </div>
            <!-- Mountain -->
            <div class="w-[142px] h-[142px] bg-pink-500 rounded-[10px] flex justify-center items-center">
                <div class="w-[70%] h-[70%]">
                    <div
                        class="w-[75%] h-[75%] bg-pink-600 center flex justify-center items-center rounded-[50px] m-auto">
                        <img src="https://placehold.jp/89x89.png" alt="image" class="w-full h-full rounded-[50px]">
                    </div>
                    <h2 class="text-center">Name</h2>
                </div>
            </div>
            <!-- Country side -->
            <div class="w-[142px] h-[142px] bg-pink-500 rounded-[10px] flex justify-center items-center">
                <div class="w-[70%] h-[70%]">
                    <div
                        class="w-[75%] h-[75%] bg-pink-600 center flex justify-center items-center rounded-[50px] m-auto">
                        <img src="https://placehold.jp/89x89.png" alt="image" class="w-full h-full rounded-[50px]">
                    </div>
                    <h2 class="text-center">Name</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Top Destinations -->
    <div class="w-[90%] h-[500px] mt-5 m-auto mb-5">
        <h1 class="w-full text-black h-[10%] text-3xl font-bold">Top Destinations</h1>
        <div class="flex w-full h-full gap-5" id="home_Destinations">
            <div class="w-[50%] h-[464px] rounded-[10px]">
                <img src="https://placehold.jp/700x464.png" alt="" class="w-full h-full rounded-[10px]">
            </div>
            <div class="w-[50%] h-[464px] rounded-[10px] gap-5 flex flex-col">
                <div class="w-[100%] h-[50%] bg-green-600 rounded-[10px]">
                    <img src="https://placehold.jp/670x223.png" alt="" class="w-full h-full rounded-[10px]">
                </div>
                <div class="w-[100%] h-[50%] gap-5 flex">
                    <div class="w-[50%] h-[100%] bg-blue-500 rounded-[10px]">
                        <img src="https://placehold.jp/325x223.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                    <div class="w-[50%] h-[100%] bg-pink-700 rounded-[10px]">
                        <img src="https://placehold.jp/325x223.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Destination -->
    <div class="w-[90%] h-[548px] m-auto mt-14">
        <h1 class="w-full text-black h-[10%] text-3xl font-bold">Destinations</h1>
        <div class="w-full h-[90%] flex justify-center items-center gap-10" id="Destination_homepage">

            <!-- box 1 -->
            <!-- <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
            </div> -->

            <!-- box 2 -->
            <!-- <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
            </div> -->

            <!-- box 3 -->
            <!-- <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
            </div> -->

            <!-- box 4 -->
            <!-- <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
             </div> -->
        </div> 


    </div>

    <!-- Eat -->
    <div class="w-[90%] h-[548px] m-auto mt-14">
        <h1 class="w-full text-black h-[10%] text-3xl font-bold">Eat</h1>
        <div class="w-full h-[90%] flex justify-center items-center gap-10">

            <!-- box 1 -->
            <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
            </div>

            <!-- box 2 -->
            <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
            </div>

            <!-- box 3 -->
            <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
            </div>

            <!-- box 4 -->
            <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Stay -->
    <div class="w-[90%] h-[548px] m-auto mt-14">
        <h1 class="w-full text-black h-[10%] text-3xl font-bold">Stay</h1>
        <div class="w-full h-[90%] flex justify-center items-center gap-10">

            <!-- box 1 -->
            <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
            </div>

            <!-- box 2 -->
            <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
            </div>

            <!-- box 3 -->
            <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
            </div>

            <!-- box 4 -->
            <div class="w-[305px] h-[460px] bg-white rounded-[10px] shadow-[0_3px_10px_rgb(0,0,0,0.2)]">
                <div class="w-[100%] h-[300px] rounded-t-[10px] flex justify-center items-center">
                    <div class="w-full h-full rounded-[10px] p-3">
                        <img src="https://placehold.jp/285x248.png" alt="" class="w-full h-full rounded-[10px]">
                    </div>
                </div>
                <div class="w-[100%] h-[160px] rounded-b-[10px]">
                    <div class="w-[90%] h-[95%] m-auto ">
                        <div class="w-[100%] h-[35px] ">
                            <h3 class="text-[20px] font-bold">Name location</h3>
                        </div>
                        <div class="w-full h-[70px] ">
                            <p class="text-[15px]">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et quasi
                                accusantium hic perspiciatis! Beatae, incidunt.</p>
                        </div>
                        <button class="w-[89px] h-[27px] bg-red-600 mt-3">View more</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Top Destinations -->
    <div class="w-[90%] h-[500px] mt-5 m-auto mb-4">
        <h1 class="w-full text-black h-[10%] text-3xl font-bold">Top Destinations</h1>
        <div class="flex w-full h-full gap-5">
            <!-- Left Large Image -->
            <div class="w-[50%] h-[464px] rounded-[10px] relative overflow-hidden">
                <img src="https://placehold.jp/700x464.png" alt="Kep" class="w-full h-full object-cover rounded-[10px]">
                <h1 class="absolute text-xl font-bold text-white bottom-3 left-3">Kep</h1>
            </div>

            <!-- Right Column Images -->
            <div class="w-[50%] h-[464px] flex flex-col gap-5">
                <!-- Top Right Image -->
                <div class="w-full h-1/2 relative overflow-hidden rounded-[10px]">
                    <img src="https://placehold.jp/670x223.png" alt="Siem Reap"
                        class="w-full h-full object-cover rounded-[10px]">
                    <h1 class="absolute text-xl font-bold text-white bottom-3 left-3">Siem Reap</h1>
                </div>
                <!-- Bottom Right Images (2x) -->
                <div class="flex gap-5 h-1/2">
                    <div class="w-1/2 h-full relative overflow-hidden rounded-[10px]">
                        <img src="https://placehold.jp/325x223.png" alt="Kampot"
                            class="w-full h-full object-cover rounded-[10px]">
                        <h1 class="absolute text-xl font-bold text-white bottom-3 left-3">Kampot</h1>
                    </div>
                    <div class="w-1/2 h-full relative overflow-hidden rounded-[10px]">
                        <img src="https://placehold.jp/325x223.png" alt="Phnom Penh"
                            class="w-full h-full object-cover rounded-[10px]">
                        <h1 class="absolute text-xl font-bold text-white bottom-3 left-3">Phnom Penh</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="w-full h-[537px] bg-[#090021] mt-12">
        <div class="w-[90%] h-full m-auto flex ">
            <div class="w-[33.3%] h-full p-5">
                <!-- logo footer -->
                <div class="w-full h-[10%] mt-5">
                    <img src="" alt="image">
                </div>
                <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, eos vitae cumque sequi necessitatibus deleniti
                     nisi ducimus veniam non, ut odio. Ex quod, fugit debitis rerum animi consectetur exercitationem mollitia,
                      praesentium voluptatem illum id optio! Officia quidem cum eligendi doloribus impedit nobis voluptas optio,
                      nihil similique ducimus, nemo, quibusdam eius.</p>
            </div>
            <div class="w-[33.3%] h-full p-5">
                <div class="w-full h-[10%] mt-5 flex justify-start items-center"> 
                    <h3 class="font-bold text-white">Contact Us</h3>
                </div>
                <div class="w-full h-[30px] flex">
                    <i class="text-xl text-white tmt-2 fa-regular fa-envelope"></i>
                    <p class="mt-1 text-white ms-4">info@yourcompany.com</p>
                </div>
                <div class="w-full h-[30px] flex">
                    <i class="mt-2 text-xl text-white fa-solid fa-phone"></i>
                    <p class="mt-1 text-white ms-4">+(855) 456-7890</p>
                </div>
                <div class="w-full h-[250px] flex rounded-[10px] mt-5">
                    <iframe class="object-cover w-full h-full rounded-[10px]" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1991562.9708896878!2d104.63834878032793!3d12.858034547092315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2skh!4v1747901816677!5m2!1sen!2skh" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="w-[33.3%] h-full p-5 ms-5">
                  <div class="w-full h-[10%] mt-5 flex justify-start items-center"> 
                    <h3 class="font-bold text-white">Contact Us</h3>
                </div>
                 <div class="w-full h-[300px] ">
                    <ul class="text-white">
                        <li><a href="">Home</a></li>
                        <li><a href="">Destination</a></li>
                        <li><a href="">Activities</a></li>
                        <li><a href="">Trip plan</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/index.js"></script>
    <script src="../js/api.js"></script>
</body>

</html>